<div style="margin: 1%">
    <h2>Add Student</h2>
  <form class="form-horizontal ">
    <div class="form-group">
      <!-- <label class="col-sm-2 control-label">Student id : </label>
      <div class="col-sm-10">
        {{student?.id}}
      </div> -->
      <mat-form-field style="width: 100%">
          <input matInput placeholder="Student id" [value]="student?.studentId">
      </mat-form-field>
    </div>
    <div class="form-group">
      <!-- <label class="col-sm-2 control-label">Student name : </label>
      <div class="col-sm-10">
        {{student?.name}} {{student?.surname}}
      </div> -->
      <mat-form-field style="width: 100%">
          <input matInput placeholder="First name" [value]="student?.name">
      </mat-form-field>
      <mat-form-field style="width: 100%">
          <input matInput placeholder="Last name" [value]="student?.surname">
      </mat-form-field>
    </div>
    <div class="form-group">
      <!-- <label class="col-sm-2 control-label">Pen amount : </label>
      <div class="col-sm-10 form-inline">
        {{student?.penAmount}}
      </div> -->
      <mat-form-field style="width: 10%">
          <input matInput placeholder="Pen amount" [value]="student?.penAmount" style="text-align: center">
      </mat-form-field>
    </div>
    <div class="form-group" align="center">
      <!-- <label class="col-sm-2 control-label">File input : </label>
      <div class="col-sm-10">
        <img class="img-responsive" [src]="student?.image" [alt]="student?.image">
        <p class="help-block">Leave here for the file preview later.</p>
      </div> -->
      <mat-card style="width: 50%;" >
        <mat-card-header>
          <mat-card-title>Image</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="student?.image" [alt]="student?.image">
      </mat-card>
    </div>
    <div class="form-group">
      <!-- <label class="col-sm-2 control-label">Description : </label>
      <div class="col-sm-10">
        {{student?.description}}
      </div> -->
      <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Description" [value]="student?.description"></textarea>
        </mat-form-field>
    </div>
  </form>
</div>

