<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="studentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student ID</th>
      <td mat-cell *matCellDef="let row">{{row.studentId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surame</th>
      <td mat-cell *matCellDef="let row">{{row.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let row"><img class="img-responsive" [src]="row.image" ></td>
    </ng-container>

    <ng-container matColumnDef="penAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pen amount</th>
      <td mat-cell *matCellDef="let row">
          <button  mat-raised-button color="primary" (click)="downQuantity(row)">-</button>
        {{row.penAmount}}
          <button mat-raised-button color="primary" (click)="upQuantity(row)">+</button>
      </td>
      
    </ng-container>

    <ng-container matColumnDef="gpa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GPA</th>
      <td mat-cell *matCellDef="let row">{{row.gpa}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: 
    displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
